## Diretório com arquivos do provider terraform
main/.terraform

## Arquivo com os ips das vms
main/master.json
main/workers.json

## Diretório com chaves ssh
ssh/

## Arquivo com a senha das vms
scripts-sh/pwd_user_ubuntu.txt